.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
.settings{}
.settings .row{margin-top:5px;margin-bottom:5px;}
.settings .label{float:left;width:120px;margin-right:10px;}
.settings .field{float:left;}
.settings .description{clear:left;color:#666;float:left;font-style:italic;margin:3px 0 10px 130px;}
.settings .description a{border-bottom:1px dotted #666;color:#666;text-decoration:none;}
.settings .description a:hover{border-bottom:1px dotted #630;color:#630;}
